<p id="notice"><%= notice %></p>

<p>
  <strong>Shpown email:</strong>
  <%= @shpown.shpown_email %>
</p>

<p>
  <strong>Shpown pwd:</strong>
  <%= @shpown.shpown_pwd %>
</p>

<p>
  <strong>Shpown nm:</strong>
  <%= @shpown.shpown_nm %>
</p>

<%= link_to 'Edit', edit_shpown_path(@shpown) %> |
<%= link_to 'Back', shpowns_path %>
