<p id="notice"><%= notice %></p>

<p>
  <strong>Shp nm:</strong>
  <%= @shp.shp_nm %>
</p>

<p>
  <strong>Shp tel:</strong>
  <%= @shp.shp_tel %>
</p>

<p>
  <strong>Shp add:</strong>
  <%= @shp.shp_add %>
</p>

<%= link_to 'Edit', edit_shp_path(@shp) %> |
<%= link_to 'Back', shps_path %>
